.cart-container {
    margin-top: 4rem;
    display: grid;
    justify-content: center;
    align-content: center;
}


.cart-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-header{
    padding: 2rem;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(to right,
    rgba(51, 204, 51, 0.774),
    rgba(74, 187, 74, 0.753),
    rgba(75, 196, 75, 0.726));
}


.cart-specification-row {
    border-radius: 1rem;
    background-image: linear-gradient(to right,
    rgba(51, 204, 51, 0.774),
    rgba(74, 187, 74, 0.753),
    rgba(75, 196, 75, 0.726));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
}

.cart-items{
    display: flex;
    flex-direction: column;
    
}

.item-row{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout-button {
    padding: 2rem 5rem 2rem 5rem;
    border: none;
    background-image: linear-gradient(to right,
    rgba(51, 204, 51, 0.774),
    rgba(74, 187, 74, 0.753),
    rgba(75, 196, 75, 0.726));
    font-size: 2rem;
    color: white;
    border-radius: 1.5rem;
}

.checkout-form {
    display: flex;
    justify-content: center;
    align-items: center;
}


