.cart-container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 50%; 
    justify-content: center;
    align-content: center;
}


.cart-header{
    margin: auto;
    width: 30%;
    text-align: center;
    padding: 2rem;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(to right,
    rgba(51, 204, 51, 0.774),
    rgba(74, 187, 74, 0.753),
    rgba(75, 196, 75, 0.726));
}


.cart-specification-row {
    border-radius: 1rem;
    background-image: linear-gradient(to right,
    rgba(51, 204, 51, 0.774),
    rgba(74, 187, 74, 0.753),
    rgba(75, 196, 75, 0.726));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
}


.item-row{
    padding: 1rem 2rem 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.checkout-button {
    padding: 2rem 5rem 2rem 5rem;
    border: none;
    background-image: linear-gradient(to right,
    rgba(51, 204, 51, 0.774),
    rgba(74, 187, 74, 0.753),
    rgba(75, 196, 75, 0.726));
    font-size: 2rem;
    color: white;
    border-radius: 1.5rem;
}

.cart-item{
    font-size: 1.3rem;
}


.total {
    margin-top: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    font-weight: 700;
    font-size: 1.6rem;
}

.checkout-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
}


