.detail-container{
    box-shadow: 3px 3px 5px 6px #ccc;
    display: flex;
    flex-direction: row;
    
}

@media only screen and (max-width: 50em) {
    .detail-container {
       flex-direction: column;  
       justify-content: center;
       align-items: center;
    }
}

.detail__image{
    border-radius: 2rem;
    border-style: solid;
    border-color: rgb(168, 167, 167);
    box-shadow: 3px 3px 5px 6px #ccc;
    margin: 6rem;
    padding: 3rem;
}

@media only screen and (max-width: 50em) {
    .detail__image {
       margin: 0;
    }
}

.detail__item-title {
    display: inline-block;
    letter-spacing: .7rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5.5rem;
}

.detail__visits {
    font-size: 1.1rem;
    display: inline-block;
    margin-left: 1.2rem;
    font-weight: 100;
    opacity: 0.62;
}

.detail__item-details {
    font-size: 2rem;
    margin-top: 6rem;
}


.detail__item-price {
    font-weight: 500;
}

.detail__buy_button {
    margin-top: 1.5rem;
}

.comment-section-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.comment {
    width: 100%;
    margin: 2rem 0rem 2rem 0rem;
    display: grid;
    grid-template-columns: 6rem 100rem ;
    grid-template-rows: 5rem;
    border: 2px;
    border-radius: 2rem;
    border-style: solid;
    border-color: rgb(168, 167, 167);
}

.comment-user-picture {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.comment-user {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
}
.user-comment-content{
   grid-row: 2/3;
   grid-column: 2/3;
   margin: -1.2rem 1rem 1rem 0rem;
   word-wrap: break-word;
   font-size: 1.4rem;
}

.comment-form {
    margin-top: 2rem;
    margin-left: auto;
}

@media only screen and (max-width: 50em) {
    .comment-form {
       margin: 0;
       margin-left: 0;
    }
}

.comment-field{
    padding: 1.2rem;
    resize: none;
    font-size: 1.5rem;
    border-radius: 2rem;
    border-style: solid;
    border-color: rgb(168, 167, 167);
}

@media only screen and (max-width: 50em) {
    .comment-field {
       padding: 0;
    }
}

.comment-button {
    margin: auto;
    margin-top: 2rem;
    display: block;
    padding: 1rem 1.5rem 1rem 1.5rem;
    font-size: 2rem;
}

#disabled-post-button {
    background-image: linear-gradient(to right,
    rgba(35, 36, 35, 0.774),
    rgba(67, 70, 67, 0.753),
    rgba(107, 109, 107, 0.726));
}



