.detail-container{
    box-shadow: 3px 3px 5px 6px #ccc;
    display: flex;
    flex-direction: row;
    
}

.detail__image{
    border-radius: 2rem;
    border-style: solid;
    border-color: rgb(168, 167, 167);
    box-shadow: 3px 3px 5px 6px #ccc;
    margin: 6rem;
    padding: 3rem;
}

.detail__item-title {
    display: inline-block;
    letter-spacing: .7rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5.5rem;
}

.detail__visits {
    font-size: 1.1rem;
    display: inline-block;
    margin-left: 1.2rem;
    font-weight: 100;
    opacity: 0.62;
}

.detail__item-details {
    font-size: 2rem;
    margin-top: 6rem;
}


.detail__item-price {
    font-weight: 500;
}

.detail__buy_button {
    margin-top: 1.5rem;
}

.comment-section-grid{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr;
}

.comment-section{
    width: 100%;
    display: grid;
    margin-top: 5rem;
    grid-template-rows: 1fr 1fr 1fr;
}


.comment {
    margin: 2rem 0rem 2rem 0rem;
    display: grid;
    grid-template-columns: 6rem 5rem;
    grid-template-rows: 3rem 3rem;
    border: 2px;
    border-radius: 2rem;
    border-style: solid;
    border-color: rgb(168, 167, 167);;
}

.comment-user-picture {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0.5rem;
}

.comment-user {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
}
.user-comment-content{
}

.comment-form {
    display: flex;
    margin-top: 8rem;
    margin-left: auto;
}

.comment-field{
    padding: 1.2rem;
    resize: none;
    font-size: 1.5rem;
    border-radius: 2rem;
    border-style: solid;
    border-color: rgb(168, 167, 167);
}



.comment-button {
    margin: auto;
    margin-top: 2rem;
    display: block;
    padding: 1rem 1.5rem 1rem 1.5rem;
    font-size: 2rem;
}



