.user-container{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin: 8rem 0rem 8rem 0rem;
    border-radius: 2rem;
    border-style: solid;
    border-color: rgb(168, 167, 167);
   
}

@media only screen and (max-width: 60rem) {
    .user-container {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        margin: 2rem 0rem 2rem 0rem;
    }
}

.update-form {
    display: grid;
    place-items: center;
}

@media only screen and (max-width: 60rem) {
    .update-form {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }
}

.image-upload{
    margin-left: 10.5rem;
}


.profile-buttons-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.delete-button {
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(248, 71, 71), red);
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 1.5rem;
    padding: 1.2rem;
    margin-left: 2rem;
    color: white;
}

.delete-button:link,
.delete-button:visited {
    color: white;
}


.submit-button{
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.2rem;
    text-decoration: none;
    border-radius: 1.5rem;
}

@media only screen and (max-width: 60rem) {
    .submit-button {
        margin-left: 0;
    }
}
.update-header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}
.username{
    font-size: 5rem;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.user-img {
    margin: 0rem 0rem 5rem 0rem;
}