.user-container{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin: 0rem 0rem 0rem 0rem;
    border-radius: 2rem;
    border-style: solid;
    border-color: rgb(168, 167, 167);
}


@media only screen and (max-width: 50em) {
    .user-container {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
    }
}

.update-form {
    display: grid;
    place-items: center;
}

@media only screen and (max-width: 50em) {
    .update-form {
        display: grid;
        place-items: center;
    }
}


.profile-buttons-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.delete-button {
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(248, 71, 71), red);
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 1.5rem;
    padding: 1.2rem;
    margin-left: 2rem;
    color: white;
}

.delete-button:link,
.delete-button:visited {
    color: white;
}


.submit-button{
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.2rem;
    text-decoration: none;
    border-radius: 1.5rem;
}

@media only screen and (max-width: 50em) {
    .submit-button {
        margin-left: 0;
    }
}
.update-header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}
.username{
    font-size: 5rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

