/* variables */
:root{
    --lightgreen: rgb(40, 185, 40)
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

* { 
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    margin: 15rem;
}

.navbar {
    box-shadow: 1px 12px 30px rgba(0, 0, 0, 0.26), 1px 12px 10px rgba(0, 0, 0, 0.178);
    background-image: linear-gradient(to right,
    rgba(51, 204, 51, 0.774),
    rgba(74, 187, 74, 0.753),
    rgba(58, 151, 58, 0.726));
}

.navbar__list{
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    
}

.navbar__home{
    font-size: 2rem;
    flex-basis: 33%;
}
.navbar__rightside {
    margin-left: auto;
    font-size: 2rem;
}

.navbar__search-container {  
    display: flex;
    flex-basis: 33%;
    flex-direction: row;
    justify-content: center;
}

.navbar__search-form {
    display: flex;
    flex-basis: 33%;
    flex-direction: row;
}

.navbar__search-text {
    border: none;
    border-radius: 10px;
    width: 120%;
    transform: scaleX(2.3) scaleY(2);
    border: none;
    
}

.navbar__search-text:focus {
    transition: all .3s;
    transform: scale(2.4);
    outline-style: none;
}

.navbar__link{
    text-decoration: none;
    color: white;
}

.navbar__register{
    margin-right: 2.2rem;
}


.form-container {
    font-size: 1.6rem;
    max-width: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.form {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
}

.shop {
    padding: 3rem;
    height: 120rem;
    box-shadow: 1px 12px 30px rgba(0, 0, 0, 0.26), 1px 12px 10px rgba(0, 0, 0, 0.178);
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    z-index: 10;
}

.item-button {
    text-decoration: none;
}



