html {
    font-size: 62.5%;
    box-sizing: border-box;
}

* { 
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    background-color: black;
    margin: 15rem;
}

.navbar__list{
    padding: 3rem;
    display: flex;
}

.navbar__item{
    font-size: 2rem;
}

.navbar__search {
    margin-left: auto;
    border: none;
}

.navbar__search:focus {
    transition: all .3s;
    transform: scale(1.1);
}

.navbar__profile{
    margin-left: auto;
}

.form-container {
    font-size: 1.6rem;
    max-width: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.form {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
}

.shop {
    height: 120rem;
    background-color: peru;
}