<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Django App</title>
        <link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}">
        <link rel="icon" href="{% static 'images/weight.png' %}"
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <div class = "messages">{{ message }}</div>
            {% endfor %}
        {% endif %} 
        {% block content %}

        {% endblock content %}
    </body>
</html>