{% extends 'shop/base.html' %}
{% block content %}
<div class="shop-container">
    {% include 'shop/navbar.html' %}
    <div class="cart-container">
        <div class='cart-header-container'> 
            <h1 class='cart-header'>Your cart </h1>
        </div>
        <div class="cart-table">
            <div> Quantity </div>
            <div> Name </div>
            <div> Price </div>
        </div>
            {% for item in cart %}
            User: {{ item.order_user }}
           Items: 
                    {% for order_item in item.order_items.all %}
                        {{ order_item.order_item.title}}
                        {{ order_item.quantity }}
                    {% endfor %}
           
            Is ordered: {{ item.ordered }}
            {{ cart.real_total_with_sign }}
            
        {% endfor %}
        Cart: {{ cart.real_total_with_sign }}
    </div>
    <form action="{% url 'checkout-page' %}" method="GET"> 
        <button class="checkout-button" type="submit">Checkout</button>
    </form>
</div>


{% endblock content %}