{% extends 'shop/base.html' %}

{% block content %}
<div class="shop-container">
{% include 'shop/navbar.html' %}
    <div class=" detail-container">
        <img class="detail__image" src="{{item.image.url}}">
        <div class="detail__item-details">
            <div  class="detail__item-title-container">
                <h1 class="detail__item-title">{{ item.title }}</h1> <p class="detail__visits">views: {{visits}}</p>
            </div>
            <div  class="detail__item-price">
                {{  item.real_price_with_sign }}
            </div>
            <div class="detail__item-description">
                {{ item.description }}
            </div>
            <form method="POST"> {% csrf_token %}
                <button name="buy" class="detail__buy_button buy-button button" type="submit">BUY</button>
            </form>
                
        </div>
    </div>

    <div class="comment-section-grid">
        <div class="comment-section">
            {% for comment in comments %}
                <div class="comment">
                    <div><img class="comment-user-picture" src="{{user.profile.user_image.url}}"></div>
                    <p class="comment-user">{{user.username}}</p>
                    <p class="user-comment-content">{{comment.content}}</p>
                </div>
               
            {% endfor %}
        </div>
  

        <div class ="comment-form">
            <form method="POST">{% csrf_token %}
                    <textarea name="content" placeholder="Post a comment." rows="8" cols="35" class="comment-field"></textarea>
                    <button class="comment-button button" name="comment" type="submit">Post</button>
            </form>
        </div>
    </div>
    

       
    
</div>

{% endblock content %}