{% extends 'shop/base.html' %}

{% block content %}
<div class="detail">
    <img class="detail__image" src="{{item.image.url}}">
    <div class="detail__item-details">
        <div  class="detail__item-title">
            {{ item.title }}
        </div>
        <div></div>
        <div  class="detail__item-price">
            {{ item.price }}
        </div>
        <div class="detail__item-description">
            {{ item.description }}
        </div>
        <button class="detail__buy-button" type="submit">BUY</button>
        <form method="POST">
            {{ form }}
            <button type="submit">Add comment</button>
        </form>
    </div>
</div>

{% endblock content %}