{% extends 'shop/base.html' %}

{% block content %}
{% include 'shop/navbar.html' %}
<div class="detail">
    <img class="detail__image" src="{{item.image.url}}">
    <div class="detail__item-details">
        <div  class="detail__item-title">
            {{ item.title }}
        </div>
        <div></div>
        <div  class="detail__item-price">
            {{ item.price }}
        </div>
        <div class="detail__item-description">
            {{ item.description }}
        </div>
        <button class="detail__buy-button" type="submit">BUY</button>
    </div>
</div>
<form method="POST"> {% csrf_token %}
    {{ form }}
    <button type="submit">Add comment</button>
</form>
{% for comment in comments %}
        {{user.username}}
        <img src="{{ profile.user_image.url }}">
        {{ comment.content }}
    {% endfor %}

{% endblock content %}