{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<header>
   
</header>

<div class="shop-container">
    {% include 'shop/navbar.html' %}
    {% if 'search' in request.path %}
    <form class = "sort__form" method="POST"> {% csrf_token %}
        <h1 class="sort__header"> SORT ITEMS </h1>
            <select class= "sort__select" name="select">
                <option disabled selected> Sorting method</option>
                <option value="v1">Price: low to high</option>
                <option value="v2">Price: high to low</option>
            </select>
         <button class="sort__submit">SORT</button>
    </form>
    {% else %}
    <form action="{% url 'sort-page' %}" class = "sort__form" method="POST"> {% csrf_token %}
        <h1 class="sort__header"> SORT ITEMS </h1>
            <select class= "sort__select" name="select">
                <option disabled selected> Sorting method</option>
                <option value="v1">Price: low to high</option>
                <option value="v2">Price: high to low</option>
            </select>
         <button class="sort__submit">SORT</button>
    </form>
    {%endif%}
    <div class="shop">
        {% for item in items %}
            <div class = "item-container">
                <div class="item-visits"><span>views</span> {{ item.visits }}</div>
                <a href="{% url 'detail-page' item.id %}" class="item-image"><img src="{{item.image.url}}"></a>
                <h1 class = "item-title">{{ item.title }}</h1>
                <p class ="item-price">{{  item.real_price_with_sign }}</p>
                <form action="{% url 'detail-page' item.id %}" method="POST"> {% csrf_token %}
                    <button name="buy" class="buy-button button"  type="submit">BUY</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}