{% extends 'shop/base.html' %}
{% block content %}
<header>
   
</header>
<div class="container">
    <nav class="navbar">
        <div class=navbar__list>
            <a class="navbar__item" href="#">Home</a>
            <input class="navbar__item navbar__search" type="search">
            {% if user.is_authenticated  %}
            <a class="navbar__item navbar__profile" href="#">Login</a>
            {% endif %}
            {% if not user.is_authenticated  %}
            <a class="navbar__item navbar__profile" href="{% url 'signup-page'%}">Register</a>
            {% endif %}
        </div>
    </nav>
    <div class="shop">
        {%for item in items %}
            <h1>{{ item.title }}</h1>
        {% endfor %}
    </div>
</div>
{% endblock content %}