{% extends 'shop/base.html' %}
{% block content %}
<div class='shop-container'>
    {% include 'shop/navbar.html' %}
    <div class='user-container'>
        {{ user.username }}
        <img src="{{ user.profile.user_image.url }}">
        <a href="{% url 'delete-page' pk=user.id %}">Delete</a>
        <form enctype='multipart/form-data' method="POST"> {% csrf_token %}
            {{ p_form.as_p}}
            {{ u_form.username }}
            {{ u_form.email }}
            <button type="submit">Update</button>
        </form>
    </div>  
</div>
{% endblock content %}