{% extends 'shop/base.html' %}
{% block content %}
<div class='shop-container'>
    {% include 'shop/navbar.html' %}
    <div class='user-container'>
        <div class="username">{{ user.username }}</div>
        <img class="user-img" src="{{ user.profile.user_image.url }}">
        <form enctype='multipart/form-data' method="POST"> {% csrf_token %}
            {{ p_form.as_p}}
            {{ u_form.username }}
            {{ u_form.email }}
            <button class="submit-button" type="submit">Update</button>
            <a class="delete-button" href="{% url 'delete-page' pk=user.id %}">Delete</a>
        </form>
    </div>  
</div>
{% endblock content %}